@model IEnumerable<AnimePortalJikanAPI.JikanDecoder.Model.Secondary.AnimeTopEntry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section id="speakers" class="wow fadeInUp">
    <div class="container">
        <div class="section-header">
            <h2>Popular Anime</h2>
            <p>Here are the top 50 Anime</p>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3">
                    <div class="speaker">
                        <img src="@Html.DisplayFor(modelItem => item.ImageURL)" alt="@Html.DisplayFor(modelItem => item.MalId)" class="img-fluid" style="width:225px;height:350px;">
                        <div class="details">
                            <h3><a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                            <p>@Html.DisplayFor(modelItem => item.Type)</p>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>

</section>
